soap-web-service-demo/example-files/Request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://salluworld.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCourseDetailsRequest" type="sal:GetCourseDetailsRequestType" xmlns:sal="http://salluworld.com"/>
  <xs:complexType name="GetCourseDetailsRequestType">
    <xs:sequence>
      <xs:element type="xs:integer" name="id"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>