soap-web-service-demo/example-files/Response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://salluworld.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetCourseDetailsResponse" type="sal:GetCourseDetailsResponseType" xmlns:sal="http://salluworld.com"/>
  <xs:complexType name="CourseDetailsType">
    <xs:sequence>
      <xs:element type="xs:integer" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:string" name="description"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="GetCourseDetailsResponseType">
    <xs:sequence>
      <xs:element type="sal:CourseDetailsType" name="CourseDetails" xmlns:sal="http://salluworld.com"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>